/* responsible for the modal window */
.popup {
  display: flex;
  position: fixed;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: visibility 0.3s, opacity 1s linear;
}

.popup_is-open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
}

.popup__container {
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}

.popup__form {
  width: 430px;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 16px;
  z-index: 2;
}

.popup__close {
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0px;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__save {
  background: #2F71E5;
  border-radius: 100px;
  width: 360px;
  height: 64px;
  margin: 13px 35px 16px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 0px;
}

.popup__save:hover {
  opacity: 0.8;
}

.popup__save_disabled {
  background-color: #E6E8EB;
  pointer-events: none;
}

.popup__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
  margin: 34px 36px 22px;
}

.popup__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin: 0px 36px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 358px;
  height: 14px;
  font-family: 'Inter', 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 8px 36px 30px;
  padding-bottom: 11px;
}

.popup__input:first-of-type {
  margin: 9px 36px 30px;
  padding-bottom: 10px;
}

.popup__input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* .popup__input_type_error {
  font-family: 'Inter', 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0px 36px;
} */

.popup__redirect-text {
  margin: auto 0 28px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.popup__redirect-link {
  text-decoration: none;
  margin: auto 0 28px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F71E5;
}

.popup__reg-link {
  text-decoration: none;
  margin: 0px 36px 51px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
}

.popup__reg-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
  margin: 43px 36px 14px;
}


@media screen and (max-width:470px) {

  .popup__container {
height: calc(100% - 56px);
margin-top: 56px;
  }
  .popup__close {
    height: 14px;
    width: 14px;
    margin-bottom: 16px;
    right: 16px;
    padding-top: 16px;
  }

  .popup__form {
    max-width: 300px;
  }

  .popup__subtitle {
    margin: 0px 16px;
  }

  .popup__input {
    width: 238px;
    height: 17px;
    margin: 18px 16px 30px;
    padding-bottom: 9px;
  }
  .popup__input:first-of-type {
    margin: 18px 16px 30px;
    padding-bottom: 9px;
  }

  .popup__input:last-of-type {
    margin: 30px 16px 0px;
    padding-bottom: 9px;
  }

  /* .popup__input_type_error {
    width: 238px;
    margin: 76px 22px 0px;
  } */

  .popup__save {
    width: calc(100% - 16px * 2);
    max-width: 288px;
    height: 64px;
    margin: 23px 16px 16px;
    font-size: 18px;
    line-height: 24px;
  }

  .popup__title {
    font-size: 24px;
    line-height: 28px;
    margin: 25px 22px 18px 22px;
  }
  .popup__redirect-text {
    margin: auto 0 252px auto;
  }
  
}