.newsCardList__cards-grid {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  list-style: none;
  justify-items: center;
  padding: 0;
}

@media screen and (max-width: 920px) {

  .newsCardList__cards-grid {
    column-gap: 8px;
    row-gap: 8px;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {

  .newsCardList__cards-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
  }

}

@media screen and (max-width:559px) {

  .newsCardList__cards-grid {
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
  }

}